body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
  
@font-face {
    font-family: 'Sora'; /* Nombre de la fuente */
    src: url('font/sora.ttf') format('truetype'); /* Ruta a tu archivo de fuente */
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}
  
#seccion1 { 
    background-image: url('img/BASE PDF 7 de mayo 02_PORTADA.png'); 
    color: white;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

#seccion1 h2 {
    position: relative; /* Agregar posición relativa para que el logo esté posicionado con respecto a este elemento */
}

#seccion1 img.logo {
    left: 2px;
    top: 50%;
    margin-left: 10px;
    z-index: 1;
    height: 50px; /* Ajusta el tamaño vertical del logo */
    width: auto; /* Calcula automáticamente el ancho manteniendo la relación de aspecto */
}

#seccion2 { 
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url('img/fondo\ de\ seccion\ 2.png'); ;
    color: black;
    flex-direction: column;
}

#seccion2 h2 {
    font-family: 16px;
    margin-top: 80px;
    margin-left: 213px;
    margin-bottom: 1.5%;
}

#seccion2 h3, p {
    font-family: 'Sora';
}

#seccion2 h3 {
    font-size: 16px;
    margin-top: 0%;
    margin-left: 345px;
    margin-bottom: 0%;
}

#seccion2 p {
    text-align: left;
    margin-top: 0.5%;
    margin-left: auto; /* Establece el margen izquierdo automático */
    margin-right: auto; /* Establece el margen derecho automático */
    max-width: 600px; 
}
  
#seccion3 {
    display: flex;
    background-color: #17202A;
    color: white;
}

#seccion3 .contenido {
    width: 600px; /* El contenido ocupará dos tercios del espacio */
    margin-top: 60px;
}

#seccion3 .imagen {
    width: 396px;
    margin-right: 0%;
}

#seccion3 img {
    max-width: 100%; /* Asegura que la imagen no supere su contenedor */
    height: 100%; /* Mantiene la relación de aspecto de la imagen */
}

#seccion3 .imagen2 {
    width: 300px;
    height: 320px;
    margin-top: 150px;
    /*margin-left: -70px;*/
}
  #seccion4 { background-image: url('imagen4.jpg'); }
  #seccion5 { background-image: url('imagen5.jpg'); }