/*X-Small devices (portrait phones, less than 576px)*/
/*Small devices (portrait phones, 575px and down)*/
@media (max-width: 575px) {

    .logoSeven {
        width: 25% !important;
        margin-top: 5% !important;
    }

    #seccion2 p {
        font-weight: 400 !important;
    }

    #seccion2 .imagen {
        display: none;
    }

    #seccion3 .imgh2 {
        margin-bottom: 105% !important;
    }

    #seccion3 .logoEspiga {
        width: 25% !important;
        height: auto;
    }

    #seccion3 h2 {
        font-size: 1.5rem !important;
        margin-top: 10% !important;
    }


    #seccion3 .imagen,
    .imagen2 {
        display: none;
    }


    #seccion4 .orangeLine {
        margin-top: 2% !important;
    }

    #seccion4 h3 {
        width: 70%;
    }

    #seccion4 p {
        width: 108% !important;
        font-weight: 300 !important;
    }

    #seccion4 .logoEspiga {
        width: 25% !important;
    }

    #seccion4 .imagen {
        display: none;
    }

    #seccion5 .imagen {
        display: none;
    }

    #seccion5 p {
        width: 95% !important;
        font-weight: 450 !important;
    }

    #seccion5 h2 {
        font-size: 0.8rem;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
    .imgh2 {
        position: absolute;
    }

    #seccion1 .logo {
        width: 25% !important;
    }

    #seccion2 h2 {
        font-size: 1.5rem !important;
    }

    #seccion2 .imagen {
        margin-left: 64% !important;
    }

    #seccion2 .contenido {
        width: 68% !important;
        margin-left: 19% !important;
    }

    #seccion3 .logoEspiga {
        width: 25% !important;
    }

    #seccion3 .imgh2 {
        margin-left: 35% !important;
        margin-top: 5% !important;
    }

    #seccion3 h2 {
        margin-top: 10%;
    }

    #seccion3 .contenido {
        margin-top: 25% !important;
        margin-left: 27% !important;
        width: 48% !important;
    }

    #seccion3 .imagen2 {
        max-width: 25% !important;
        margin-top: 26% !important;
    }

    #seccion3 .imagen {
        max-width: 30% !important;
        margin-left: 45% !important;
    }

    #seccion3 p {
        width: 101% !important;
    }


    #seccion4 .contenido {
        width: 80% !important ;
        margin-left: 19% !important;
        margin-top: 20% !important;
    }

    #seccion4 .imgh2{
        margin-top: 7% !important;
    }

    #seccion4 p {
        font-weight: 500 !important;
    }


    #seccion5 .imgh2 {
        margin-left: 40% !important;
        margin-top: 10% !important;
    }

    #seccion5 .contenido {
        margin-left: 20% !important;
        width: 80% !important;
    }

    #seccion6 .imgh2 {
        margin-left: 30%;
    }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
    #seccion1 .imgh2 {
        margin-left: 24% !important;
        margin-top: 24% !important;
    }

    #seccion2 h2 {
        font-size: 1.2rem !important;
    }

    #seccion2 .imgh2 {
        margin-left: 2% !important;
    }

    #seccion2 .logoEspiga {
        width: 15% !important;
        margin-bottom: 4% !important;
        margin-left: -4% !important;
    }

    #seccion2 .contenido {
        width: 58% !important;
        margin-left: 20% !important;
        margin-top: 15% !important;
    }

    #seccion2 p {
        width: 101%;
        font-size: 0.6rem !important;
    }

    #seccion2 .imagen {
        margin-left: 61% !important;
    }

    #seccion3 .imagen2 {
        margin-top: 18% !important;
        max-width: 22% !important;
    }

    #seccion3 .imagen {
        margin-left: 46% !important;
    }

    #seccion3 .contenido {
        margin-top: 16% !important;
        width: 55% !important;
    }

    #seccion3 h3 {
        font-size: 1rem !important;
    }

    #seccion3 p {
        font-size: 0.7rem !important;
    }

    #seccion3 .logoEspiga {
        width: 25% !important;
        height: auto !important;
    }

    #seccion3 .imgh2 {
        margin-bottom: 43% !important;
    }

    #seccion4 .imgh2 {
        position: absolute !important;
        margin-left: 20% !important;
        margin-top: 5% !important;
    }

    #seccion4 p {
        font-size: 0.7rem !important;
    }

    #seccion4 .contenido {
        margin-top: 13% !important;
        margin-left: 22% !important;
    }

    #seccion5 .imgh2 {
        position: absolute !important;
        margin-left: 30% !important;
        margin-top: 5% !important;
    }

    #seccion5 h3 {
        font-size: 1rem !important;
    }

    #seccion5 p {
        font-size: 0.7rem !important;
    }

    #seccion5 .imagen {
        margin-left: 65% !important;
    }

    #seccion6 p {
        font-size: 3rem !important;
    }


}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
    #seccion2 p {
        font-size: 0.65rem !important;
    }

    #seccion2 .contenido {
        margin-top: 15% !important;
    }

    #seccion2 .imagen {
        margin-left: 57% !important;
    }

    #seccion2 .logoEspiga {
        width: 90px !important;
        margin-bottom: 4% !important;
    }

    #seccion3 p {
        font-size: 0.75rem !important;
    }

    #seccion3 h3 {
        font-size: 1rem !important;
    }

    #seccion3 .imagen2 {
        max-width: 22% !important;
        margin-top: 17% !important;
    }

    #seccion3 .imagen {
        margin-left: 48% !important;
    }

    #seccion3 .imgh2 {
        position: absolute;
        margin-bottom: 0% !important;
        margin-left: 11% !important;
        margin-top: 10%;
    }

    #seccion3 .logoEspiga {
        width: 11% !important;
        margin-bottom: 2%;
    }

    #seccion3 .contenido {
        width: 47% !important;
        margin-top: 15% !important;
    }

    #seccion4 .imgh2 {
        margin-top: 7%;
        margin-left: 8%;
    }

    #seccion4 .logoEspiga {
        width: 25% !important;
    }

    #seccion4 h3 {
        font-size: 1rem !important;
    }

    #seccion4 p {
        font-size: 0.75rem !important;
    }

    #seccion4 .contenido {
        margin-top: 12% !important;
    }

    #seccion5 h2 {
        font-size: 1.3rem !important;
    }

    #seccion5 .imgh2 {
        margin-bottom: 36% !important;
        margin-left: 9% !important;
    }

    #seccion5 h3 {
        font-size: 1rem !important;
    }

    #seccion5 p {
        font-size: 0.75rem !important;
    }

    #seccion6 p {
        font-size: 3rem !important;
    }
    
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399px) {
    
    .logoSeven {
        width: 10% !important;
    }
    
    #seccion1 .imgh2 {
        margin-left: 31% !important;
    }

    #seccion2 .imgh2 {
        margin-top: 6% !important;
        margin-left: 13% !important;
    }

    #seccion2 .imagen {
        margin-left: 60% !important;
    }

    #seccion2 .logoEspiga {
        width: 11% !important;
        margin-bottom: 3% !important;
        margin-left: -3%;
    }

    #seccion2 p {
        font-size: 0.rem !important;
    }

    #seccion2 .contenido {
        margin-top: 11% !important;
        margin-left: 25% !important;
    }

    #seccion3 .imagen {
        margin-left: 42% !important;
    }

    #seccion3 .imgh2 {
        position: absolute;
        margin-bottom: 0% !important;
        margin-top: 7% !important;
        margin-left: 10% !important;
    }

    #seccion3 .logoEspiga {
        width: 9% !important;
        margin-bottom: 1% !important;
    }

    #seccion3 p {
        font-size: 0.85rem !important;
    }

    #seccion3 h3 {
        font-size: 1rem !important;
    }

    #seccion4 {
        background-repeat: no-repeat;
        background-size: auto 97% !important;
        background-position: left 184%;
    }

    #seccion4 .imgh2 {
        margin-top: 8% !important;
        margin-left: 7%;
    }

    #seccion4 h3 {
        font-size: 1rem !important;
    }

    #seccion4 p {
        font-size: 0.85rem !important;
    }

    #seccion4 .contenido {
        margin-top: 13% !important;
        margin-left: 19% !important;
    }

    #seccion4 .orangeLine {
        margin-top: 10% !important;
    }

    #seccion5 .imgh2 {
        position: absolute;
        margin-left: 10% !important;
        margin-top: 7% !important;
    }

    #seccion5 h3 {
        font-size: 1rem !important;
    }

    #seccion5 p {
        font-size: 0.85rem !important;
    }

    #seccion5 .imagen {
        width: 100% !important;
        margin-left: 70% !important;
    }

    #seccion5 .imagen2 {
        width: 15% !important;
    }

    #seccion5 .contenido {
        width: 70%;
    }

    #seccion6 p {
        font-size: 2.65rem !important;
    }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) and (max-width: 1900px){
    #seccion2 .imagen {
        margin-left: 64% !important;
    }

    #seccion2 .logoEspiga {
        width: 8% !important;
        margin-bottom: 3% !important;
        margin-left: -2%;
    }

    #seccion2 .imgh2 {
        position: absolute;
        margin-left: 16% !important;
    }

    #seccion3 .logoEspiga {
        width: 8% !important;
        height: auto;
        margin-bottom: 2%;
    }

    #seccion3 .imagen {
        margin-left: 45% !important;
    }

    #seccion3 .imgh2 {
        position: absolute;
        margin-top: 7% !important;
        margin-left: 11% !important;
    }

    #seccion4 {
        background-repeat: no-repeat;
        background-size: auto 97% !important;
        background-position: left 184%;
    }

    #seccion4 .imgh2 {
        margin-top: 8% !important;
        margin-left: 10% !important;
    }

    #seccion4 .contenido {
        margin-top: 11.5% !important;
        margin-left: 18% !important;
    }

    #seccion4 .orangeLine {
        margin-top: 5% !important;
    }

    #seccion5 .imagen {
        margin-left: 70% !important;
    }

    #seccion5 .imagen2 {
        width: 14% !important;
    }

    #seccion5 .imgh2 {
        position: absolute;
        margin-left: 12% !important;
        margin-top: 6.5% !important;
    }

    #seccion5 .contenido {
        width: 63%;
        margin-left: 25% !important;
        margin-top: 9% !important;
    }

    #seccion5 .orangeLine {
        width: 450% !important;
    }

    #seccion6 p {
        font-size: 3rem !important;
    }
}


body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

@font-face {
    font-family: 'Sora';
    src: url('font/sora.ttf') format('truetype');
}

@font-face {
    font-family: 'MyriadPro';
    src: url('font/MYRIADPRO-SEMIBOLD.OTF') format('truetype');
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('font/MYRIADPRO-REGULAR.OTF') format('truetype');
}

@font-face {
    font-family: 'MyriadProBold';
    src: url('font/MYRIADPRO-BOLD.OTF') format('truetype');
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.bordeExterior {
    border: 3px solid rgb(255, 136, 0);
    width: 99.3%;
    height: 99%;
    margin: 0% !important;
    padding: 0% !important;
}

.bordeIntermedio {
    border: 3px solid white;
    width: 99.5%;
    height: 99.3%;
    margin: 0%;
    padding: 0%;
}

.bordeInterno {
    border: 3px solid rgb(255, 136, 0);
    width: 99.5%;
    height: 99.0%;
    margin: 0%;
    padding: 0%;
}

.excepcion {
    margin-top: 0% !important;
    margin-left: 16% !important;
}

img {
    max-width: 100%;
    height: 100%;
}



/*Aca comienzan los estilos de la seccion 1*/
#seccion1 {
    background-image: url('img/fondoSeccion1.png');
    color: white;
    align-items: center;
    justify-content: center;
    margin-right: 50px;


    h2 {
        font-family: 'MyriadProBold';
        font-size: 3.75rem;
        text-shadow:
            0 0 4px #fff8dc,
            0 0 8px #fff8dc;
    }

    .imgh2 {
        display: flex;
        align-items: center;
        margin-left: 33%;
        margin-top: 18%;
    }


    .logo {
        margin-top: 4.5%;
        opacity: 0.7;
        z-index: 1;
        height: 14%;
        width: 14%;
    }

}

@media (max-width: 767px) {

    #seccion1 {
        background-image: url('img/fondoSeccion1.png');
        background-size: 100% 100%;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-right: 0;


        .bordeExterior,
        .bordeIntermedio,
        .bordeInterno {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .imgh2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
        }

        .logo {
            opacity: 1;
            width: 50%;
            height: auto;
        }

        h2 {
            font-size: 1.8rem;
            text-shadow: 0 0 4px #fff8dc, 0 0 8px #fff8dc;
        }

    }

}

/*Aca comienzan los estilos de la seccion 2*/
#seccion2 {
    display: flex;
    position: relative;
    align-items: start;
    background-color: #E2E9ED;
    color: black;


    .contenido {
        position: absolute;
        width: 46%;
        margin-top: 12%;
        margin-left: 28%;
        margin-right: auto;
        z-index: 1;
    }

    .imagen {
        width: 100%;
        height: 100%;
        margin-left: 20%;
        margin-right: 0;
        padding: 0%;
    }

    .imgh2 {
        display: flex;
        position: absolute;
        align-items: center;
        margin-top: 8%;
        margin-left: 13%;
    }

    h2 {
        font-family: 'Sora';
        font-weight: 425;
        font-size: 1.4rem;
        margin-bottom: 4%;
    }


    h3 {
        font-family: 'Sora';
        font-size: 1rem;
        font-weight: 600;
        margin-top: 0%;
        margin-bottom: 2%;
        text-align: left;
    }

    p {
        font-family: 'Sora', sans-serif;
        font-size: 0.8rem;
        font-weight: 265;
        text-align: left;
        margin-top: 0.3%;
    }

    .orangeLine {
        border: none;
        height: 5px;
        background-color: orange;
        width: 100%;
        margin-top: 8%;
        margin-right: 5%;
    }

    .logoSeven {
        position: absolute;
        width: 13%;
        height: auto;
        margin-top: 1%;
        margin-left: 0%;
    }

    .logoEspiga {
        width: 30%;
        height: auto;
        margin-bottom: 1%;
    }


    .neblina1 {
        position: relative;
        height: 100%;
    }

    .neblina1::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        background: linear-gradient(to left, transparent, #E2E9ED)
    }

    @media (max-width: 767px) {

        .contenido {
            width: 90%;
            top: 13%;
            margin-left: 5%;
        }

        .imgh2 {
            position: absolute;
            margin-left: 31% !important;
            z-index: 1;
        }

        .neblina1 {
            position: relative;
            height: 100%;
        }

        .neblina1::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 95%;
            height: 100%;
            background: linear-gradient(to left, transparent, #E2E9ED)
        }



        h3,
        p {
            font-size: 0.65rem !important;

        }

        .logoEspiga {
            width: 25% !important;
            margin-bottom: 2%;
        }

    }
}

/*Aca comienzan los estilos de la seccion 3*/
#seccion3 {
    position: relative;
    display: flex;
    background-color: #182027;
    color: white;


    .contenido {
        position: absolute;
        width: 41%;
        margin-top: 12%;
        margin-left: 23%;
        z-index: 1;
    }

    .imagen {
        width: 400%;
        margin-right: 0%;
        margin-left: 31%;
    }

    .logoSeven {
        position: absolute;
        width: 13%;
        height: auto;
        margin-top: 1%;
        margin-left: 0%;
    }

    .logoEspiga {
        width: 80%;
        margin-top: 1%;
        padding: 0%;
    }

    .imagen2 {
        width: 340%;
        height: 53%;
        margin-top: 13%;
    }

    .neblina {
        position: relative;
        height: 100%;
    }

    .neblina::before {
        content: "";
        position: absolute;
        top: 0;
        margin-left: 0%;
        width: 80%;
        height: 100%;
        background: linear-gradient(to left, transparent, #182027)
    }

    h2 {
        font-size: 1.5rem;
        font-family: 'Sora';
        font-weight: 450;
    }

    h3 {
        font-family: 'Sora';
        font-size: 1.3rem;
        font-weight: 520;
        margin-bottom: 0.5%;
    }

    p {
        font-family: 'Sora';
        font-weight: 350;
        font-size: 0.85rem;
    }

    .imgh2 {
        display: flex;
        align-items: center;
        margin-bottom: 5%;
        margin-left: -10%;
    }

    .orangeLine {
        border: none;
        height: 5px;
        background-color: orange;
        width: 100%;
        margin-top: 7%;
    }

    @media (max-width: 767px) {

        #seccion3 {
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;
            height: 100vh;
        }

        .contenido {
            position: absolute;
            width: 90%;
            margin-top: 45%;
            margin-left: 5%;
            padding: 0;
            z-index: 1;
        }


        h3,
        p {
            font-size: 0.65rem !important;

        }

        .imgh2 {
            margin-left: 26%;
        }
    }

}

/*Aca comienzan los estilos de la seccion 4*/
#seccion4 {
    position: relative;
    background-image: url('img/fondoseccion4.png');
    display: flex;
    background-color: #182027;
    color: white;


    .contenido {
        position: absolute;
        margin-top: 9.50%;
        margin-left: 22%;
        z-index: 1;
    }

    .logoSeven {
        position: absolute;
        width: 13%;
        height: auto;
        margin-top: 1%;
    }

    .logoEspiga {
        width: 90px;
        height: 50px;
        margin-bottom: 5%;
    }

    .imagen {
        width: 43%;
        margin-left: auto;
    }


    .neblina {
        position: relative;
        height: 100%;
    }

    .neblina::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        background: linear-gradient(to left, transparent, #182027)
    }

    h2 {
        font-size: 1.5rem;
        font-family: 'Sora';
        font-weight: 450;
    }

    h3 {
        font-family: 'Sora';
        font-size: 1.125rem;
        font-weight: 520;
        margin-bottom: 0.5%;
    }

    .margenh3 {
        margin-top: 4%;
    }

    p {
        font-family: 'Sora';
        width: 70%;
        font-weight: 301;
        font-size: 0.9375rem;
        margin-top: 0.5%;
    }

    .imgh2 {
        display: flex;
        margin-bottom: 35%;
    }

    .orangeLine {
        border: none;
        height: 5px;
        background-color: orange;
        width: 70%;
        margin-top: 15%;
        margin-right: 30%;
    }

    @media (max-width: 767px) {

        #seccion4 {
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;
            height: 100vh;
        }


        .contenido {
            position: absolute;
            width: 81% !important;
            margin-top: 38%;
            margin-left: 5%;
            z-index: 1;
        }


        h3,
        p {
            font-size: 0.65rem !important;

        }

        .imgh2 {
            position: absolute;
            margin-left: 28%;
            margin-top: 15%;
            z-index: 1;
        }
    }

}

/*Aca comienzan los estilos de la seccion 5*/
#seccion5 {
    display: flex;
    position: relative;
    color: black;
    background-color: #E2E9ED;



    .contenido {
        position: absolute;
        margin-top: 11%;
        margin-left: 20%;
        margin-right: auto;
        z-index: 1;
    }

    .imagen {
        width: 60%;
        margin-right: 0%;
        margin-left: 50%;
    }

    .logoSeven {
        position: absolute;
        width: 13%;
        height: auto;
        margin-top: 1%;
    }

    .logoEspiga {
        width: 90px;
        height: 50px;
        margin-left: -0.5%;
        margin-bottom: 1%;
    }


    .imagen2 {
        width: 20%;
        height: 6%;
        margin-top: 2%;
    }

    .neblina1 {
        position: relative;
        height: 100%;
    }

    .neblina1::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        background: linear-gradient(to left, transparent, #E2E9ED)
    }

    .neblina2 {
        position: relative;
        height: 100%;
    }

    .neblina2::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, transparent, #E2E9ED)
    }

    h2 {
        font-size: 1.5rem;
        font-family: 'Sora';
        font-weight: 450;
    }

    h3 {
        font-family: 'Sora';
        font-size: 1.125rem;
        font-weight: 560;
        margin-bottom: 0.5%;
    }

    p {
        font-family: 'Sora';
        width: 70%;
        font-weight: 401;
        font-size: 0.9375rem;
        margin-top: 0.5%;
    }

    .imgh2 {
        display: flex;
        align-items: center;
        margin-bottom: 30%;
    }

    .orangeLine {
        border: none;
        height: 5px;
        background-color: rgb(255, 115, 0);
        width: 350%;
        margin-top: 4%;
        margin-bottom: 4%;
        margin-right: 5%;
    }

    @media (max-width: 767px) {

        #seccion5 {
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;
            height: 100vh;
        }

        .contenido {
            width: 95%;
            top: 17%;
            margin-left: 5%;
        }


        h3,
        p {
            font-size: 0.65rem !important;

        }

        h3 {
            width: 77% !important;
            font-weight: 700 !important;
        }

        .imgh2 {
            position: absolute;
            margin-top: 18%;
            margin-left: 25%;
            z-index: 1;
        }
    }

}

/*Aca comienza la seccion 6 */

#seccion6 {
    display: flex;
    color: black;
    background-color: #E2E9ED;
    align-items: center;
    justify-content: center;


    .logoSeven {
        width: 13%;
        height: 10%;
        margin-top: 1%;
    }

    .logoEspiga {
        width: 90px;
        height: 40px;
        margin-top: 0%;
        margin-bottom: 2%;
        margin-left: 0px;
    }

    p {
        font-family: 'MyriadProRegular';
        font-size: 3.4375rem;
        font-weight: 100;
        text-align: left;
        line-height: 1.2;
        margin-left: 15%;
        margin-bottom: 0%;
        margin-top: 2%;
    }

    h2 {
        font-family: 'Sora', sans-serif;
        font-weight: 300;
        font-size: 1.875rem;
        margin-left: 20%;
        margin-bottom: 1%;
        margin-right: 0px;
        margin-top: 0px;
    }

    .imgh2 {
        display: flex;
        align-items: center;
        margin-bottom: 0%;
    }

    @media (max-width: 767px) {

        #seccion6 {
            background-size: 100% 100%;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin-right: 0;
        }

        .bordeExterior,
        .bordeIntermedio,
        .bordeInterno {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .logo {
            width: 50%;
            height: auto;
        }

        h2 {
            font-size: 1.8rem !important;
        }

        p {
            font-size: 2rem !important;
            margin-left: 10%;
            margin-top: 10%;
        }

    }

}